<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #data {
        background-color: lightgrey;
        border-bottom: 1px solid grey;
        padding: 5px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      #map-canvas {
        height: 100%;
      }
    </style>

    <script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx_W_m2aw-5IOL_EThLyYC2M3AK-u1q_k&sensor=false">
    </script>

  </head>

  <body>
    <div id="data">
      <a href="#" id="-1m">-1m</a>
      <span id="current-time"></span>
      <a href="#" id="+1m">+1m</a>
    </div>

    <div id="map-canvas" />

    <script>
      var currentTimeSec = {{ time_sec }};

      var getData = function(timeSec, processData) {
        var req = new XMLHttpRequest();

        req.onreadystatechange = function() {
          if (this.readyState != 4) {
            return;
          }
          if (this.status == 200) {
            processData(this.responseText);
          }
        };
        req.open(
            "GET",
            "{% url 'views.get_cars' %}?time_sec=" + timeSec,
            true);
        req.send();
      };

      var mapOptions = {
        center: new google.maps.LatLng(47.609722, -122.333056),
        zoom: 12,
        disableDefaultUI: true,
      };
      var map = new google.maps.Map(
          document.getElementById("map-canvas"), mapOptions);

      var carsOnMap = {}

      var addMarkers = function(data) {
        var cars = JSON.parse(data);

        var newCarLocations = {}
        for (var i = 0; i < cars.length; i++) {
          newCarLocations[[cars[i].lon, cars[i].lat]] = cars[i];
        }

        // Figures out which cars need to be drawn.
        for (var newCarLocation in newCarLocations) {
          if (newCarLocations.hasOwnProperty(newCarLocation) &&
              !(newCarLocation in carsOnMap)) {
            var car = newCarLocations[newCarLocation];
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(car.lon, car.lat),
              map: map,
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: 'red',
                fillOpacity: 1,
                scale: 5,
                strokeWeight: 0,
              },
            });
            car.marker = marker;
            carsOnMap[[car.lon, car.lat]] = car;
          }
        }

        // Figures out which cars need to be removed.
        for (var currentCarLocation in carsOnMap) {
          if (carsOnMap.hasOwnProperty(currentCarLocation) &&
              !(currentCarLocation in newCarLocations)) {
            carsOnMap[currentCarLocation].marker.setMap(null);
            delete carsOnMap[currentCarLocation];
          }
        }
      };

      getData(currentTimeSec, addMarkers);

      var currentTimeSpan = document.getElementById("current-time");
      currentTimeSpan.innerHTML = new Date(currentTimeSec * 1000);

      // TODO: Remove the redundancy between the -1m and +1m logic.
      var minus1m = document.getElementById("-1m");
      minus1m.onclick = function() {
        currentTimeSec = currentTimeSec - 60;
        getData(currentTimeSec, addMarkers);
        currentTimeSpan.innerHTML = new Date(currentTimeSec * 1000);
        return false;
      };

      var plus1m = document.getElementById("+1m");
      plus1m.onclick = function() {
        currentTimeSec = currentTimeSec + 60;
        getData(currentTimeSec, addMarkers);
        currentTimeSpan.innerHTML = new Date(currentTimeSec * 1000);
        return false;
      };
    </script>
  </body>
</html>
